/* 00: CSS Variables */
:root{
    --page-color: hsla(344, 15%, 43%, 1);
    --block-color: hsla(344, 15%, 43%, .5);
    --page-width: 25%;
}

/* 01: Color */
body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.introduction, div.portfolio, div.schedule p, div.assignment p, address p{
    background-color: var(--block-color);
}

/* 02: Typography */
h1, h3, p{
    color: #a7c2cc;
}

/* 03: Layout */
footer{
    position: fixed;
    bottom: 0;
    left: 45%;
}

div.introduction, div.portfolio, div.schedule, div.assignment, address{
    position: absolute;
    top: center;
    left: 37.5%;
    width: var(--page-width);
    height: auto;
    visibility: hidden;
}

div.introduction h1, div.portfolio h1, div.schedule h1, div.assignment h1, address h3{
    text-align: center;
    width: 15%;
    height: auto;
}

div.introduction h1{
    position: fixed;
    top: 30%;
    left: 10%;
    background-color: var(--page-color);
    visibility: visible;
}

div.portfolio h1{
    position: fixed;
    top: 30%;
    right: 10%;
    background-color: var(--page-color);
    visibility: visible;
}

div.schedule h1{
    position: fixed;
    bottom: 30%;
    left: 20%;
    background-color: var(--page-color);
    visibility: visible;
}

div.assignment h1{
    position: fixed;
    bottom: 30%;
    right: 20%;
    background-color: var(--page-color);
    visibility: visible;
}

address h3{
    position: fixed;
    bottom: 10%;
    left: 43%;
    background-color: var(--page-color);
    visibility: visible;
}

.introduction:hover{
    visibility: visible;
}

.portfolio:hover{
    visibility: visible;
}
